
body.path-local-moddesigner #page {
    overflow: hidden;
}

body.path-local-moddesigner #page-header {
    display: none !important;
}

body.path-local-moddesigner #page.drawers, body.path-local-moddesigner div[role="main"], body.path-local-moddesigner .main-inner {
    padding: 0px !important;
}

body.path-local-moddesigner .main-inner {
    margin-top: 0px !important;
}